* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lobster', cursive;
  color: black;
  background: linear-gradient(145deg, rgba(120, 120, 192, 0.692), rgba(122, 79, 79, 0.719));
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 10vh;
  font-size: 2.5rem;
  justify-content: start;
  background: rgb(1, 25, 32) url("./img/angelina-kichukova-1i6mrD_t9gA-unsplash.jpg") no-repeat fixed center;
  padding: 0 25px;
}

.menu a {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Mochiy Pop One', sans-serif;
  border-bottom: 2.5px transparent solid;
  padding-bottom: 0.3rem;
  transition: border-color 0.5s;
}

.menu a:hover {
  border-color: rgb(255, 160, 52);
}

.menu a.current {
  border-bottom: 2.5px solid rgb(143, 143, 143);
}

.navbar a,
.navbar span {
  text-decoration: none;
  color: rgb(255, 205, 148);
}

.logo {
  margin-right: 10px;
  font-family: 'Lobster', cursive;
}

.txt-type {
  flex: 1;
  font-family: 'Piedra', cursive;
}

ul li {
  list-style: none;
  display: flex;
  flex: 1;
  margin-right: 2rem;
}

ul {
  display: flex;
  gap: 5px;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-works {
  height: 90vh;
}

.bottom-line {
  height: 3px;
  width: 15rem;
  background: rgb(109, 121, 231);
  margin: 0 auto 1rem auto;
}

.qualities {
  display: flex;
  margin-top: 3rem;
  margin-left: 4rem;
}

.qualities div {
  text-align: center;
}

.qualities .fas {
    color: rgb(214, 159, 39);
}

.section-title {
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
  margin-top: 5rem;
}

.lead {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.nav-about .lead {
  font-size: 2rem;
  text-align: center;
}

.nav-about {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  height: 70vh;
}

.works {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 70vh;
  z-index: 10;
}

.box {
  flex: 1;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 0.5%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  line-height: 0;
  cursor: pointer;
}

.box>img {
  width: 100%;
    height: calc(100% - 7vh);
  object-fit: stretch;
  transition: 0.8s;
}

.box>span {
  font-size: 3vh;
  display: block;
  color: rgb(214, 214, 214);
  text-align: center;
  line-height: 2.2;
}

.box:hover {
  flex: 1 5 30%;
  height: 450px;
}

.box:hover>img {
  width: 100%;
  height: 100%;
}

#main-footer .footer-content {
  display: flex;
  justify-content: space-evenly;
  height: 5rem;
  text-indent: 1rem;
  font-size: 1.5rem;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
}
.socials i:hover {
  color: black;
  background: rgb(255, 242, 169);
}
.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  color: white;
  background: rgb(1, 25, 32) url("./img/angelina-kichukova-1i6mrD_t9gA-unsplash.jpg") no-repeat fixed center;
  height: 10vh;
}

.container a {
  text-decoration: none;
  color: white;
}